aiohttp==3.6.3
anytree==2.8.0
appdirs==1.4.4
APScheduler==3.6.3
arsenic==20.9
astroid==2.4.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
Cython==0.29.21
DateTime==4.3
discord==1.0.1
discord.py==1.6.0
emoji==0.6.0
Flask==1.1.2
idna==2.10
imutils==0.5.3
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
MouseInfo==0.1.3
multidict==4.7.6
numpy==1.19.4
opencv-python==4.4.0.46
Pillow==8.0.1
PyAutoGUI==0.9.52
pyee==8.1.0
PyGetWindow==0.0.9
pylint==2.6.0
PyMsgBox==1.0.9
pyperclip==1.8.1
pyppeteer==0.2.5
PyRect==0.1.4
PyScreeze==0.1.26
pytesseract==0.3.7
python-dotenv==0.15.0
PyTweening==1.0.3
pytz==2020.4
requests==2.25.0
selenium==3.141.0
six==1.15.0
soupsieve==2.1
structlog==20.2.0
tesseract==0.1.3
toml==0.10.2
tqdm==4.56.0
tzlocal==2.1
urllib3==1.26.2
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.5.1
zope.interface==5.2.0