aiohttp==3.6.3
anytree==2.8.0
appdirs==1.4.4
APScheduler==3.6.3
arsenic==20.9
asgiref==3.3.1
astroid==2.4.2
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
Cython==0.29.21
DateTime==4.3
discord==1.0.1
discord.py==1.6.0
distlib==0.3.1
docopt==0.6.2
emoji==0.6.0
filelock==3.0.12
idna==2.10
imutils==0.5.3
iniconfig==1.1.1
isort==5.6.4
Js2Py==0.70
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==4.7.6
numpy==1.19.4
packaging==20.8
Pillow==8.0.1
pipwin==0.5.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyee==8.1.0
PyGetWindow==0.0.9
pyjsparser==2.7.1
pymongo==3.11.3
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
pyppeteer==0.2.5
PyPrind==2.11.2
PyRect==0.1.4
PyScreeze==0.1.26
pySmartDL==1.3.4
pytest==6.2.2
python-dotenv==0.15.0
PyTweening==1.0.3
pytz==2020.4
requests==2.25.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
structlog==20.2.0
tesseract==0.1.3
toml==0.10.2
tqdm==4.56.0
tzlocal==2.1
urllib3==1.26.2
virtualenv==20.4.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.5.1
zope.interface==5.2.0